.projects{
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;

    &-bio-image{
        
        height: 50vh;
        width: 100%;
        background: 
        linear-gradient(
            to right,
            rgba($primary-color, 0.9),
            rgba($primary-color, 0.3)
        ),
    url("./images/mainpic.jpg") center top;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

        .text-secondary{
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }

    &-items{
       
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        width: 50vh;
        grid-gap: 2rem;
    }

    &-item{
        position: relative;
        border-bottom: 5px solid $secondary-color;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 20px;

        img{
            width: 100%;
        }

        &::after{
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $secondary-color;
            opacity: 0;
            @include transition-ease;
        }

        &:hover{
            &::after{
                top: 0;
                opacity: 0.9;

            }

            .projects-button{
                opacity: 1;
            }
        }
    }

    &-buttons{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &-button{
        opacity: 0;
        color: text-color($secondary-color);
        margin-right: 5px;
        @include transition-ease;

        &:hover{
            color: text-color(text-color($secondary-color));
        }
    }

    .social-icons{
        display: flex;
        flex-direction: column;
    }
    footer{
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
}